:root {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

body {
	--card-color: white;
	--background: #f1f1f1;
	--nav-color: #fac5c7;
	font-family: Helvetica, Arial, Sans-Serif;
	padding: 10px;
	background: var(--background);
	max-width: 1800px;
	margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, label, p, pre {
	font-family: Helvetica, Arial, Sans-Serif;
}

h2 {
	margin-top: 0;
}

div.google-visualization-tooltip {
	white-space: nowrap;
}

/* Settings */
.settingsbtn:not(.closebtn) {
	background-color: transparent;
	border: none;
	margin: 2px 0 10px 8px;
	float: left;
	z-index: 1;
	position: relative;
}

.settingsbtn img {
	height: 1.5em;
}

.dark-mode .settingsbtn img {
	filter: invert(100%);
}

.settingsbtn:hover {
	background-color: transparent !important;
}

	.settingsbtn:hover .settings {
		visibility: visible;
		opacity: 1;
	}

div.settings {
	background-color: lightgrey;
	color: black;
	padding: 5px;
	border-radius: 6px;
	border: 1px solid rgb(102, 102, 102);
	position: absolute;
	visibility: hidden;
	top: -6px;
	left: -6px;
	z-index: 1;
	opacity: 0;
	width: max-content;
	transition: opacity 200ms;
}

	div.settings h4 {
		margin: 4px 0 10px 25px;
		text-align: start;
	}

.dark-mode div.settings {
	color: white;
}

/* navigation bar */

.navbar {
	overflow: hidden;
	background-color: var(--nav-color);
}

.toc .navbar a {
	float: left;
	display: block;
	font-size: 120%;
	color: rgb(61, 61, 61) !important;
	text-align: center;
	margin: 5px 0 5px 5px;
	padding: 8px;
	position: relative;
	text-decoration: none;
}

	.toc .navbar a:not(.current-page):hover {
		background-color: #f78686;
		cursor: pointer;
		border-radius: 5px;
	}

#triangle {
	transform: rotate(45deg);
	width: 15px;
	height: 15px;
	background-color: #ffffff;
	position: absolute;
	bottom: -13px;
	left: calc(50% - 8px);
}

.current-page {
	pointer-events: none;
}

.dark-mode .navbar a {
	color: white !important;
}

	.dark-mode .navbar a:not(.current-page):hover {
		background-color: #93bbb1;
		color: black !important;
	}

.dark-mode #triangle {
	background-color: var(--card-color);
}

/* tooltip */

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

/* dark mode */

.dark-mode .card {
	color: white;
	-webkit-box-shadow: 1px 1px 1px rgb(0 0 0 / 70%), 2px 2px 2px rgb(0 0 0 / 70%);
	box-shadow: 1px 1px 1px rgb(0 0 0 / 70%), 2px 2px 2px rgb(0 0 0 / 70%);
}

.dark-mode .settings {
	background-color: #131313;
}

.dark-mode .toc {
	background-color: var(--card-color);
	-webkit-box-shadow: 1px 1px 1px rgb(0 0 0 / 70%), 2px 2px 2px rgb(0 0 0 / 70%);
	box-shadow: 1px 1px 1px rgb(0 0 0 / 70%), 2px 2px 2px rgb(0 0 0 / 70%);
}

	.dark-mode .toc a {
		color: white;
	}

.dark-mode #whiteoverlay {
	background-color: black;
	color: white;
}

#whiteoverlay {
	background-color: white;
	color: black;
}

.dark-mode #detailwindow {
	background-color: black;
	color: white;
}

#detailwindow {
	background-color: white;
	color: black;
}

.dark-mode .chart text:not([fill="#ffffff"]) {
	fill: white !important;
}

.dark-mode svg > g > g > g:first-child > rect {
	fill: #525252;
}

.dark-mode svg > g > g > g > rect:only-child {
	fill: #d6d6d6;
}

.dark-mode svg > g > g > g > rect:nth-child(1):nth-last-child(2) {
	fill: #d6d6d6;
}

.dark-mode svg > g > g > g > rect:nth-child(2):nth-last-child(1) {
	fill: #d6d6d6;
}

.dark-mode div.google-visualization-tooltip {
	background-color: #1c1c1c !important;
}

	.dark-mode div.google-visualization-tooltip > ul > li > span {
		color: white !important;
	}

.dark-mode ruby rt:not(.nohidden) {
	color: transparent;
	text-shadow: 0 0 12px rgba(255,255,255,0.99);
}

.dark-mode ruby.nohidden rt {
	color: white;
	text-shadow: none;
}

.dark-mode ruby rt:hover {
	color: white;
	text-shadow: none;
}

.dark-mode .centerimg {
	-webkit-filter: invert(100%);
	filter: invert(100%);
	opacity: 0.2;
}

.dark-mode table.coverage tr.tableheader {
	color: black;
	background-color: white;
}

.dark-mode .radtable {
	background-color: #102b38;
}

.dark-mode .kantable {
	background-color: #401439;
}

.dark-mode .voctable {
	background-color: #2a1440;
}

.radtable {
	background-color: azure;
}

.kantable {
	background-color: #ffe6f8;
}

.voctable {
	background-color: #f3ebfc;
}

/* chart darkmode corrections */

.dark-mode .google-visualization-tooltip-item-list [style="background-color:#000000;"] {
	background-color: white !important;
}

.dark-mode svg[aria-label="A chart."] [stroke="#000000"] {
	stroke: white;
}

.dark-mode svg[aria-label="A chart."] [fill="#000000"] {
	fill: white;
}

:not(dark-mode) .wall svg[aria-label="A chart."] text[fill="#222222"] {
	fill: white;
}

.dark-mode .wall svg[aria-label="A chart."] text[fill="#222222"] {
	fill: black !important;
}

.dark-mode .wall svg[aria-label="A chart."] text[fill="#ffffff"] {
	fill: black !important;
}

.dark-mode .apexcharts-gridlines-horizontal > line:not(:last-child) {
	stroke: #525252;
}

/* progressbar design */
#progressbar {
	background-color: grey;
	border-radius: 13px;
	padding: 3px;
}

	#progressbar > div {
		background-color: lightblue;
		height: 9px;
		border-radius: 9px;
	}

#wkof_ds {
	width: 10px;
}

/* button design */

button:not(.closebtn) {
	color: white;
	text-align: center;
	background-color: #555555;
}

	button:not(.closebtn):hover {
		background-color: lightgrey;
		color: black;
	}

	button:not(.closebtn):active {
		background-color: white;
		color: black;
		border-color: lightgrey;
	}

.dark-mode button.closebtn {
	-webkit-filter: invert(100%);
	filter: invert(100%);
}

button.closebtn:hover {
	opacity: 0.5;
}

button.closebtn:active {
	opacity: 0.7;
}

button.movebtn {
	border-width: 0px;
	border-radius: 3px;
	margin: 5px;
	background-color: #dbdbdb; /*really light grey*/
	color: white;
	float: right;
}

.dark-mode button.movebtn {
	background-color: var(--background);
	color: #1e2123;
}

	.dark-mode button.movebtn:hover {
		color: white;
		background-color: #5f656d;
	}

	.dark-mode button.movebtn:active {
		background-color: #292929;
		color: white;
	}

#color-scheme-div {
	float: left;
	font-size: 15px;
	margin: 5px;
}

#color-scheme-select {
	background-color: #fafafa;
	color: black;
	outline: none;
}

.dark-mode #color-scheme-select option {
	background-color: #1d1d1d;
	color: white;
}

/* furigana design */
rt:not(.nohidden) {
	color: transparent;
	text-shadow: 0 0 12px rgba(0,0,0,0.97);
}

	rt:not(.nohidden):hover {
		color: black;
		text-shadow: none;
	}

/* table design */

table.coveragetable {
	border-collapse: collapse;
	font-size: 0.9em;
	font-family: sans-serif;
	min-width: 400px;
	text-align: center;
	width: 100%;
}

	table.coveragetable thead tr {
		background-color: #009879;
		color: #ffffff;
		text-align: center;
		position: sticky;
		top: 0;
	}

	table.coveragetable th,
	table.coveragetable td {
		padding: 12px 15px;
	}

	table.coveragetable th {
		position: sticky;
		top: 0;
	}

	table.coveragetable tbody tr {
		border-bottom: thin solid #dddddd;
	}

		table.coveragetable tbody tr:last-of-type {
			border-bottom: 2px solid #009879;
		}

table.coveragetable tbody tr:nth-of-type(even) {
	background-color: var(--card-color);
}

table.coveragetable tbody tr:nth-of-type(odd) {
	background-color: var(--background);
}

table.normaltable {
	border-collapse: collapse;
}

	table.normaltable tr {
		padding: 15px;
	}

	table.normaltable thead tr {
		background-color: #54585d;
	}

	table.normaltable.thick thead tr th {
		font-weight: 200;
		font-size: 80%;
		border-right: 2px solid white;
		border-left: 2px solid white;
	}

	table.normaltable:not(thick) thead tr th {
		border-right: 1px solid #dddfe1;
		border-left: 1px solid #dddfe1;
		border-top: 1px solid #dddfe1;
	}

	table.normaltable tbody tr {
		border: 1px solid #dddfe1;
	}

	table.normaltable thead tr:not(dark-mode) th {
		color: #ffffff;
	}

.charttableheaderdark {
	color: white;
	background-color: black;
	font-weight: 400;
}

.charttablerowdark {
	color: white;
	background-color: black;
}

.charttablehoverdark {
	color: white;
	background-color: var(--card-color);
}

.charttableheadermiddle {
	background-color: dimgrey;
	font-weight: 400;
}

.charttablerowmiddle {
	color: black;
	background-color: darkgrey;
}

.charttablehovermiddle {
	color: black;
	background-color: darkgrey;
}

/* other */

.centerimg {
	position: absolute;
	margin: auto;
	margin-left: 410px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.1;
}

.header {
	padding: 20px 20px 30px 20px;
	text-align: center;
	background: white;
	color: black;
	background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('images/wanikani_bg_icon.jpg');
	background-repeat: no-repeat;
	background-attachment: inherit;
	background-size: cover;
	background-position: top;
	border-radius: 8px 8px 0 0;
}

	.header h1 {
		font-size: 50px;
	}

.dark-mode .header {
	-webkit-box-shadow: 1px 0 1px rgba(255, 255, 255, 0.7), 2px 0 2px rgba(255, 255, 255, 0.7);
	box-shadow: 2px 1px 1px -1px rgba(255, 255, 255, 0.7), 3px 1px 2px -1px rgba(255, 255, 255, 0.7);
}

.dark-mode a[href^="h"] {
	color: #be8fee;
}

.wall {
	margin-right: 50px;
}

/* top navigation design */

#linkrow {
	height: 25px;
	font-size: 15px;
}

	#linkrow a {
		line-height: 25px;
		margin: 0 5px;
		color: black;
	}

	#linkrow span {
		line-height: 25px;
		margin-right: 8px;
	}

/* table of contents design */

.toc {
	overflow: hidden;
	background-color: white;
	border-radius: 0 0 6px 6px;
}

	.toc > a {
		float: left;
		display: block;
		color: dimgrey;
		text-align: center;
		margin: 5px 0 5px 5px;
		padding: 8px;
		text-decoration: none;
	}

		.toc > a:hover {
			background-color: lightgrey;
			color: black;
			cursor: pointer;
			border-radius: 5px;
		}

/* Overview */

#overview div h3 {
	text-align: center;
	background-color: var(--background);
	border-radius: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin: 0;
}

#overview div {
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1fr 0.75fr 0.75fr 1fr 1fr;
}

#ovLeft1 {
	grid-column: 1 / span 2;
	grid-row: 1;
}

#ovMiddle1 {
	grid-column: 3 / span 2;
	grid-row: 1;
}

#ovRight1 {
	grid-column: 5 / span 2;
	grid-row: 1;
}

#ovLeft2 {
	grid-column: 1 / span 2;
	grid-row: 2;
}

#ovMiddle2 {
	grid-column: 3 / span 2;
	grid-row: 2;
}

#ovRight2 {
	grid-column: 5 / span 2;
	grid-row: 2;
}

/* left column */
.leftcolumn {
	float: left;
	width: 75%;
	min-width: 1050px;
}

/* right column */
.rightcolumn {
	float: left;
	width: 25%;
	padding-left: 20px;
}

.card {
	background-color: var(--card-color);
	padding: 20px;
	margin-top: 20px;
	border-radius: 6px;
	position: relative;
}

/* clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* footer */
.footer {
	padding: 35px 10px;
	text-align: center;
	background: var(--card-color);
	margin-top: 20px;
}

/* responsive layout - when the screen is less than 1400px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1400px) {
	.leftcolumn, .rightcolumn {
		width: 100%;
		padding: 0;
	}

	#ovMiddle1 {
		grid-column: 1 / span 3;
		grid-row: 1;
	}

	#ovMiddle2 {
		grid-column: 4 / span 3;
		grid-row: 1;
	}

	#ovLeft1 {
		grid-column: 1 / span 3;
		grid-row: 2;
	}

	#ovRight1 {
		grid-column: 4 / span 3;
		grid-row: 2;
	}

	#ovLeft2 {
		grid-column: 1 / span 3;
		grid-row: 3;
	}

	#ovRight2 {
		grid-column: 4 / span 3;
		grid-row: 3;
	}

	/*#overview div {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 10px;
		font-size: 75%;
	}

		#overview div > h3:first-child, h3:last-child {
			grid-row: 2;
		}

		#overview div > h3:nth-child(2) {
			grid-column: 1 / span 2;
		}*/
}

/* responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
	.toc a {
		padding: 5px;
		margin: 3px 0 3px 3px;
	}
}

/* toggle switch */

.switch {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 16px;
}

	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 16px;
	background-color: grey;
}

	.slider:before {
		position: absolute;
		content: "";
		height: 10px;
		width: 10px;
		left: 3px;
		bottom: 3px;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
		border-radius: 50%;
	}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(14px);
	-ms-transform: translateX(14px);
	transform: translateX(14px);
}

/* apex charts */

/*.dark-mode .apexchart:not(.noblack) .apexcharts-line-series [rel="1"] path {
	stroke: rgba(255, 255, 255, 0.85);
}*/

.dark-mode .apexchart:not(.noblack) .apexcharts-line-series [seriesName="Total"] path {
	stroke: rgba(255, 255, 255, 0.85);
}

.dark-mode .apexchart:not(.noblack) .apexcharts-line-series [seriesName="TotalxTime"] path {
	stroke: rgba(255, 255, 255, 0.85);
}

.dark-mode .apexchart:not(.noblack) .apexcharts-line-series [seriesName="All"] path {
	stroke: rgba(255, 255, 255, 0.85);
}

.dark-mode .apexchart:not(.noblack) .apexcharts-area-series [rel="1"] path {
	stroke: rgba(255, 255, 255, 1);
	fill: rgba(255,255,255,0.85);
}

.dark-mode .apexchart:not(.noblack) .apexcharts-tooltip [style*="order: 1"] .apexcharts-tooltip-marker {
	background-color: white !important;
}

.apexchart {
	margin-top: 50px;
	margin-bottom: 0px;
}

/* timemachine */

rect[fill-opacity="0"]:not([stroke="none"]) {
	stroke: white;
	fill: white;
	fill-opacity: 0.5;
	stroke-opacity: 0.5;
	stroke-width: 3px;
}

.srs0 {
	color: #808080;
}

.srs1 {
	color: #e38dc6;
}

.srs2 {
	color: #e677c1;
}

.srs3 {
	color: #e843b1;
}

.srs4 {
	color: #f400a3; /* original apprentice color */
}

.srs5 {
	color: #ab62bd;
}

.srs6 {
	color: #9e34b8; /* original guru color */
}

.srs7 {
	color: #3557dd;
}

.srs8 {
	color: #ADD8E6; /* different from wanikani color for better differentiability */
}

.srs9 {
	color: #f0ca00;
}

.timemachineslider {
	-webkit-appearance: none; /* Override default CSS styles */
	appearance: none;
	width: 100%;
	height: 10px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

	.timemachineslider:hover {
		opacity: 1; /* Fully shown on mouse-over */
	}

	.timemachineslider::-webkit-slider-thumb {
		-webkit-appearance: none; /* Override default look */
		appearance: none;
		width: 5px;
		height: 25px;
		background: #1ad691;
		cursor: pointer;
	}

	.timemachineslider::-moz-range-thumb {
		width: 5px;
		height: 25px;
		background: #1ad691;
		cursor: pointer;
	}

/* loading spinning wheel */

.loader {
	border: 8px solid #f3f3f3; /* Light grey */
	border-top: 8px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 18px;
	height: 18px;
	animation: spin 1s linear infinite;
}

.dark-mode .loader {
	border: 8px solid #525252; /* dark grey */
	border-top: 8px solid #3498db; /* Blue */
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* wkof visual bug workaround */

[aria-labelledby="ui-id-2"]:nth-child(2) {
	top: -1000px !important;
}

[aria-labelledby="ui-id-3"]:nth-child(2) {
	top: -1000px !important;
}

.marked .apexcharts-tooltip {
	opacity: 1 !important;
}
