:root {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, Sans-Serif;
	padding: 10px;
	background: #f1f1f1;
}

div.settings {
	background-color: lightgrey;
}

h1, h2, h3, h4, h5, h6, label, p, pre {
	font-family: Helvetica, Arial, Sans-Serif;
	/*color: black;*/
}

.header {
	color: black;
}

div.google-visualization-tooltip {
	white-space: nowrap;
}

/* tooltip */

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

/* dark mode */

.dark-mode .card {
	background-color: #292929;
	color: white;
}

.dark-mode .settings {
	background-color: #1c1c1c;
	color: white;
}

.dark-mode .toc {
	background-color: #525252;
}

	.dark-mode .toc a {
		color: white;
	}

.dark-mode tr {
	color: white;
}

.dark-mode #whiteoverlay {
	background-color: black;
	color: white;
}

#whiteoverlay {
	background-color: white;
	color: black;
}

.dark-mode #detailwindow {
	background-color: black;
	color: white;
}

#detailwindow {
	background-color: white;
	color: black;
}

.dark-mode .chart text {
	fill: white !important;
}

.dark-mode svg > g > g > g:first-child > rect {
	fill: #525252;
}

.dark-mode svg > g > g > g > rect:only-child {
	fill: #d6d6d6;
}

.dark-mode svg > g > g > g > rect:nth-child(1):nth-last-child(2) {
	fill: #d6d6d6;
}

.dark-mode svg > g > g > g > rect:nth-child(2):nth-last-child(1) {
	fill: #d6d6d6;
}

.dark-mode div.google-visualization-tooltip {
	background-color: #1c1c1c !important;
}

	.dark-mode div.google-visualization-tooltip > ul > li > span {
		color: white !important;
	}

.dark-mode ruby rt:not(.nohidden) {
	color: transparent;
	text-shadow: 0 0 12px rgba(255,255,255,0.99);
}

.dark-mode ruby.nohidden rt {
	color: white;
	text-shadow: none;
}

.dark-mode ruby rt:hover {
	color: white;
	text-shadow: none;
}

.dark-mode .centerimg {
	-webkit-filter: invert(100%);
	filter: invert(100%);
	opacity: 0.2;
}

.dark-mode .radtable {
	background-color: #102b38;
}

.dark-mode .kantable {
	background-color: #401439;
}

.dark-mode .voctable {
	background-color: #2a1440;
}

.radtable {
	background-color: azure;
}

.kantable {
	background-color: #ffe6f8;
}

.voctable {
	background-color: #f3ebfc;
}

/* progressbar design */

#progressbar {
	background-color: grey;
	border-radius: 13px;
	padding: 3px;
}

	#progressbar > div {
		background-color: lightblue;
		height: 9px;
		border-radius: 9px;
	}

#wkof_ds {
	width: 10px;
}

/* button design */

button:not(.closebtn) {
	color: white;
	text-align: center;
	background-color: #555555;
}

	button:not(.closebtn):hover {
		background-color: lightgrey;
		color: black;
	}

	button:not(.closebtn):active {
		background-color: white;
		color: black;
		border-color: lightgrey;
	}

button.closebtn.dark-mode {
	-webkit-filter: invert(100%);
	filter: invert(100%);
}

button.closebtn:hover {
	opacity: 0.5;
}

button.closebtn:active {
	opacity: 0.7;
}

button.movebtn {
	border-width: 0px;
	border-radius: 3px;
	margin: 5px;
	background-color: #dbdbdb; /*really light grey*/
	color: white;
}

.dark-mode button.movebtn {
	background-color: #555555;
	color: black;
}

	.dark-mode button.movebtn:hover {
		color: white;
	}

	.dark-mode button.movebtn:active {
		background-color: #292929;
		color: white;
	}

/* furigana design */
rt:not(.nohidden) {
	color: transparent;
	text-shadow: 0 0 12px rgba(0,0,0,0.97);
}

	rt:not(.nohidden):hover {
		color: black;
		text-shadow: none;
	}

/* table design */

table.normaltable {
	border-collapse: collapse;
}

	table.normaltable tr {
		padding: 15px;
	}

	table.normaltable thead tr {
		background-color: #54585d;
	}

	table.normaltable.thick thead tr th {
		font-weight: 200;
		font-size: 80%;
		border-right: 2px solid white;
		border-left: 2px solid white;
	}

	table.normaltable:not(thick) thead tr th {
		border-right: 1px solid #dddfe1;
		border-left: 1px solid #dddfe1;
		border-top: 1px solid #dddfe1;
	}

	table.normaltable tbody tr {
		border: 1px solid #dddfe1;
	}

	table.normaltable thead tr:not(dark-mode) th {
		color: #ffffff;
	}

.charttableheaderdark {
	color: white;
	background-color: black;
	font-weight: 400;
}

.charttablerowdark {
	color: white;
	background-color: black;
}

.charttablehoverdark {
	color: white;
	background-color: #292929;
}

.charttableheadermiddle {
	background-color: dimgrey;
	font-weight: 400;
}

.charttablerowmiddle {
	color: black;
	background-color: darkgrey;
}

.charttablehovermiddle {
	color: black;
	background-color: darkgrey;
}

/* other */

.centerimg {
	position: absolute;
	margin: auto;
	margin-left: 410px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0.1;
}

.header {
	padding: 30px;
	text-align: center;
	background: white;
}

	.header h1 {
		font-size: 50px;
	}

.dark-mode a {
	color: #be8fee;
}

.settings {
	border-radius: 6px;
}

/* top navigation design */

.topnav {
	overflow: hidden;
	background-color: #333;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 8px;
	margin: 5px;
	text-decoration: none;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
	border-radius: 5px;
}

/* table of contents design */

.toc {
	overflow: hidden;
	background-color: white;
	border-radius: 0 0 6px 6px;
}

.toc a {
	float: left;
	display: block;
	color: dimgrey;
	text-align: center;
	margin: 5px 0 5px 5px;
	padding: 8px;
	text-decoration: none;
}

.toc a:hover {
	background-color: lightgrey;
	color: black;
	cursor: pointer;
	border-radius: 5px;
}

/* create two unequal columns that floats next to each other */
/* left column */
.leftcolumn {
	float: left;
	width: 75%;
	min-width: 1050px;
}

/* right column */
.rightcolumn {
	float: left;
	width: 25%;
	/*background-color: #f1f1f1;*/
	padding-left: 20px;
}

/* fake image */
.fakeimg {
	background-color: #aaa;
	width: 100%;
	padding: 20px;
}

/* add a card effect for articles */
.card {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
	border-radius: 6px;
}

/* clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* footer */
.footer {
	padding: 20px;
	text-align: center;
	background: #ddd;
	margin-top: 20px;
}

/* responsive layout - when the screen is less than 1400px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1400px) {
	.leftcolumn, .rightcolumn {
		width: 100%;
		padding: 0;
	}
}

/* responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
	.topnav a {
		float: none;
		width: 100%;
	}
}
