* {
	box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial, Sans-Serif;
	padding: 10px;
	background: #f1f1f1;
}

div.settings {
	background-color: lightgrey;
}

h1, h2, h3, h4, h5, h6, label, p, pre {
	font-family: Helvetica, Arial, Sans-Serif;
	/*color: black;*/
}

div.google-visualization-tooltip {
	white-space: nowrap;
}

/* tooltip */

.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

/* dark mode */

div.card.dark-mode {
	background-color: #292929;
	color: white;
}

div.settings.dark-mode {
	background-color: #1c1c1c;
	color: white;
}

div.toc.dark-mode {
	background-color: #525252;
}

div.toc.dark-mode a {
	color: white;
}

tr.dark-mode {
	color: white;
}

#whiteoverlay.dark-mode {
	background-color: black;
	color: white;
}

#whiteoverlay {
	background-color: white;
	color: black;
}

.chart.dark-mode text {
	fill: white !important;
}

div.dark-mode div.google-visualization-tooltip {
	background-color: #1c1c1c !important;
}

div.dark-mode div.google-visualization-tooltip > ul > li > span {
	color: white !important;
}

ruby.dark-mode:not(.nohidden) rt {
	color: transparent;
	text-shadow: 0 0 12px rgba(255,255,255,0.99);
}

ruby.dark-mode rt:hover {
	color: white;
	text-shadow: none;
}

.centerimg.dark-mode {
	-webkit-filter: invert(100%);
	filter: invert(100%);
}

.radtable.dark-mode {
	background-color: #102b38;
}

.kantable.dark-mode {
	background-color: #401439;
}

.voctable.dark-mode {
	background-color: #2a1440;
}

.radtable {
	background-color: azure;
}

.kantable {
	background-color: #ffe6f8;
}

.voctable {
	background-color: #f3ebfc;
}

/* progressbar design */

#progressbar {
  background-color: grey;
  border-radius: 13px;
  padding: 3px;
}

#progressbar>div {
  background-color: lightblue;
  height: 9px;
  border-radius: 9px;
}

#wkof_ds {
	width: 10px;
}

/* button design */
button {
	color: white;
	text-align: center;
	background-color: #555555;
}

button:hover {
	background-color: lightgrey;
	color: black;
}

button:active {
	background-color: white;
	color: black;
	border-color: lightgrey;
}

/* furigana design */

rt:not(.nohidden) {
	color: transparent;
	text-shadow: 0 0 12px rgba(0,0,0,0.97);
}

rt:hover {
	color: black;
	text-shadow: none;
}

/* table design */

table {
	border-collapse: collapse;
}

table tr {
	padding: 15px;
}

table thead tr {
	background-color: #54585d;
}

table thead tr th {
	color: #ffffff;
	font-weight: 200;
	font-size: 80%;
	border-right: 2px solid white;
	border-left: 2px solid white;
}

table tbody tr {
	color: #636363;
	border: 1px solid #dddfe1;
}

/* other */

.centerimg {
	position: absolute;
	margin: auto;
	margin-left: 410px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.header {
	padding: 30px;
	text-align: center;
	background: white;
}

.header h1 {
	font-size: 50px;
}

/* top navigation design */
.topnav {
	overflow: hidden;
	background-color: #333;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/* table of contents design */
.toc {
	overflow: hidden;
	background-color: white;
}

.toc a {
	float: left;
	display: block;
	color: dimgrey;
	text-align: center;
	padding: 8px 9px;
	text-decoration: none;
}

.toc a:hover {
	background-color: lightgrey;
	color: black;
}

/* create two unequal columns that floats next to each other */
/* left column */
.leftcolumn {
	float: left;
	width: 75%;
	min-width: 1050px;
}

/* right column */
.rightcolumn {
	float: left;
	width: 25%;
	/*background-color: #f1f1f1;*/
	padding-left: 20px;
}

/* fake image */
.fakeimg {
	background-color: #aaa;
	width: 100%;
	padding: 20px;
}

/* add a card effect for articles */
.card {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
}

/* clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* footer */
.footer {
	padding: 20px;
	text-align: center;
	background: #ddd;
	margin-top: 20px;
}

/* responsive layout - when the screen is less than 1450px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1450px) {
	.leftcolumn, .rightcolumn {
		width: 100%;
		padding: 0;
	}
}

/* responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
	.topnav a {
		float: none;
		width: 100%;
	}
}