body {
	background-color: white;
}

h1, h2, h3, h4, h5, h6, label, p, pre {
    font-family: Helvetica, Arial, Sans-Serif;
	color:  black;
}

.normal_text {
	color:  black;
}

#progressbar {
  background-color: grey;
  border-radius: 13px;
  padding: 3px;
}

#progressbar>div {
  background-color: lightblue;
  height: 15px;
  border-radius: 15px;
}